<div>
    <h4>Need help with any of these ?</h4> <br>
</div>

<div class="wrapper">
    <div class="box">
        <h3>Sony Xperia Z5</h3>
        <img src="./image/sony xperia Z5.jpg">
    </div>
    <div class="box">
        <h3>Sumsung Galaxy Note10 Lite</h3>
        <img src="./image/sumsung galaxy note 10 lite.png">
    </div>
    <div class="box">
        <h3>Sumsung Galaxy Note10</h3>
        <img src="./image/Samsung-Galaxy-Note10.jpg">
    </div>
    <div class="box">
        <h3>iPhone 12 Red</h3>
        <img src="./image/iphone-12-red.png">
    </div>
    <div class="box">
        <h3>iPad pro 11</h3>
        <img src="./image/ipad-pro-11.png">
    </div>
    <div class="box">
        <h3>iPhone 12 pro max</h3>
        <img src="./image/iphone-12-pro-max.jfif">
    </div>

  </div>