
<div>
    <h1>SwiftViews</h1> <br>
    <h3>We are a community based help service!</h3> <br>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptatibus asperiores totam aspernatur, sed neque! Ab nobis ea doloribus eveniet. Magni voluptas impedit animi odit dolorum exercitationem fugit, culpa placeat ipsa quis consectetur minus illo, autem eaque, repellat numquam ex mollitia? Facilis doloribus modi veniam possimus eos facere deleniti officia.</P>
    <br>
    <button class="button"
    (click) = "tryitfree()"><span>{{ tryfree | uppercase }}</span>
    </button>
    <button class="button"
    (click) = "signup()"><span>{{ sign | uppercase }}</span>
    </button>
</div>
